# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
env.bak/
venv.bak/
*.egg-info/
.eggs/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
Data/*.csv
Model/faiss_index.idx
chat_log.txt

# Docker
Dockerfile
.dockerignore 